name: Lint

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  lint:
    name: Code Quality
    if: github.repository == 'ACFHarbinger/Machine-Learning-Zoo'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v1
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: Check formatting (Black)
        run: uv run black . --check

      - name: Check imports (Isort)
        run: uv run isort . --check-only --profile black

      - name: Type check (Mypy)
        run: uv run mypy .
